@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Occupation App</h1>
    <p>Let's Keep a Record For the Future!'<br>Build Your Resume <a href="https://novoresume.com">here</a>.</p>
</div>
<div class=" Career">
    <div class="Car-Car">
        <img src="~/Img/my-desk.png" alt="Desk Work space" />
    </div>
    <div class="Car-text">
        <h1>How to Set Up Your Own Dedicated Workspace</h1>
        <p>
            Did you ever wish that you could focus on nothing but your work for a few hours,
            without any disruptions? If your answer is yes, you definitely need to set up your own dedicated workspace at home.
            In this article, we’ll be going through the steps you need to take in order to create a comfortable and productive area.
            Click <a href="https://softwarekeep.com/help-center/how-to-set-up-your-own-dedicated-workspace">here</a> for more!
        </p>
        <img src="~/Img/OIP.jpg" alt="Office"/>
        <img src="~/Img/R.jpg" alt="Laptop"/>
        <img src="~/Img/main-qimg-f67dc0e2b375c4d99cf574fd5382cec8.png" alt="Monitor"/>
    </div>
    </div>
    <div class="Careers">
        <div class="Car">
            <img src="~/Img/software-developers.jpg" alt="Desk Work space" />
        </div>
        <div class="Car-te">
            <h1>
                10 Tips to Become a Better Software Engineer
            </h1>
            <p>
                Here are ten tips, from writing out your code and keeping a checklist to automating as much as possible, that can make you a better software developer.<br>
                <h2>1. Write It Out Before You Code</h2><br>
                Keep a habit of scribbling out the algorithm/pseudo-code before you actually convert the solution into code. 
                Writing by hand can also help you plan your code before you move it to the computer. 
                You can save a lot of time if you write out which functions and classes you will need, 
                as well as how they will interact. Although more time consuming, this restriction will mold you into a more fundamentally sound developer.
                ===><a href="https://dzone.com/articles/10-tips-to-become-a-better-software-engineer#:~:text=%2010%20Tips%20to%20Become%20a%20Better%20Software,a%20proper%20version%20control%20strategy%20by...%20More%20">
                here</a> for more!
            </p>
        </div>
    </div>
